<div class="py-5">

  <div class="p-4 rounded-3 text-center">

    <div class="img-init">
      <img src="./assets/jd.jpg" alt="">

    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
        style="width: 60%;">
        <span class="sr-only">60%</span>
      </div>
    </div>

    <div class="welcome-code ">
      <h1 class="display-5 fw-bold">Cursos disponible</h1>
      <ul>
        <li class="lista">
          Lógica de programación
        </li>
      </ul>
    </div>
  </div>

</div>
