   <!-- Page Content-->
   <section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                          <img src="./assets/html.jpg" alt="HTML5" width="64" height="64">

                        </div>
                        <h2 class="fs-4 fw-bold">HTML5</h2>
                        <p class="mb-0">La estructura de cualquier web </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">

                          <img src="./assets/css3.jpg" alt="CSS3" width="64" height="64">
                        </div>
                        <h2 class="fs-4 fw-bold">CSS3</h2>
                        <p class="mb-0">Consigue webs con un aspecto increible</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                          <img src="./assets/JS.jpg" alt="JS" width="64" height="64">
                        </div>
                        <h2 class="fs-4 fw-bold">JavaScript</h2>
                        <p class="mb-0">Haz que tus páginas sean interactivas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
