   <!-- Page Content-->
   <section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-code"></i></div>
                        <h2 class="fs-4 fw-bold">Código</h2>
                        <p class="mb-0">Empieza a codificar!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold">Lecciones</h2>
                        <p class="mb-0">Aprende!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-card-heading"></i></div>
                        <h2 class="fs-4 fw-bold">Ejercicios</h2>
                        <p class="mb-0">Práctica!</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-patch-check"></i></div>
                        <h2 class="fs-4 fw-bold">Estadisticas</h2>
                        <p class="mb-0">Tu Evolución!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
